*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    height: 70vh;
    width: 50vw;
    /* border: 1px solid black; */
    border-radius: 40px;
}
img{
    height: 15vh;
    width: 8vw;
    border-radius: 90px;
    padding: 20px;
    margin-top: 5px;
    margin-left: 5px;
 }
header{
    height: 15vh;
    width: 50vw;
    background-color: #282929;
    background-image: linear-gradient(160deg, #282929 0%, #80D0C7 100%);
    border-top-right-radius: 36px;
    border-top-left-radius: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-content{
    color: white;
    font-size: 12px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    
}
.center_content{
    height: 45vh;
    width: 50vw;
    background-color: white;
    gap: 5px; 
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    overflow: scroll;
}
footer{
    height: 10vh;
    width: 50vw;
    background-color: #282929;
    background-image: linear-gradient(160deg, #282929 0%, #80D0C7 100%);
    border-bottom-right-radius: 36px;
    border-bottom-left-radius: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}
.footerBox p{
    color: azure;
    font-size: 20px;
    font-style: italic;
    margin-left: 15px;
}
button{
    size: 20px;
}
.right_header{
    margin-right: 30px;
    margin-top: 50px;
}
button{
    font-size:15px;
    height: 30px;
    width: 100px;
    border-radius: 20px;  
    background-color: pink;
}
.center_content p{
    margin-left: 40px;
    margin-right: 20px;
    gap: 20px;
    font-size: 23px;
}
.center_content h1{
    margin-left: 30px;
    gap: 20px;
}
